<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<servlet>
		<description></description>
		<display-name>ServletPieces</display-name>
		<servlet-name>ServletPieces</servlet-name>
		<servlet-class>puzzle.ServletPieces</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ServletImages</display-name>
		<servlet-name>ServletImages</servlet-name>
		<servlet-class>puzzle.ServletImages</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ServletMasks</display-name>
		<servlet-name>ServletMasks</servlet-name>
		<servlet-class>puzzle.ServletMasks</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ApplicationRADServlet</display-name>
		<servlet-name>ApplicationRADServlet</servlet-name>
		<servlet-class>puzzle.ApplicationRADServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletPieces</servlet-name>
		<url-pattern>/Pieces/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletMasks</servlet-name>
		<url-pattern>/Masks/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletImages</servlet-name>
		<url-pattern>/Images/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplicationRADServlet</servlet-name>
		<url-pattern>/ApplicationRAD</url-pattern>
	</servlet-mapping>
	<display-name>Puzzle</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>